Source: find-idle-root-shells
Section: utils
Priority: extra
Maintainer: Fabian Knittel <fabian.knittel@fsmi.uni-karlsruhe.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: find-idle-root-shells
Architecture: all
Depends: libsys-utmp-perl, libproc-process-perl
Replaces: fsmi-root-protection
Provides: fsmi-root-protection
Conflicts: fsmi-root-protection
Description: Detect unused root shells
 Some admins have the annoying habit not to close their precious
 root shells. This scripts puts itself into Cron and detects
 forgotten root shells. Cron then mails the administrator to notify
 him about this security issue.
