Source: find-idle-root-shells
Section: utils
Priority: extra
Maintainer: Fachschaft Mathe/Info Rechner-Admins <rechner@fsmi.uni-karlsruhe.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.4
Homepage: http://opensource.fsmi.uni-karlsruhe.de/projects/find-idle-root-shells/
Vcs-Git: git://opensource.fsmi.uni-karlsruhe.de/find-idle-root-shells.git -b debian
Vcs-Browser: http://opensource.fsmi.uni-karlsruhe.de/gitweb/?p=find-idle-root-shells.git;a=shortlog;h=refs/heads/debian

Package: find-idle-root-shells
Architecture: all
Depends: libsys-utmp-perl, libproc-processtable-perl, ${misc:Depends}
Replaces: fsmi-root-protection
Provides: fsmi-root-protection
Conflicts: fsmi-root-protection
Description: Detect unused root shells
 Some admins have the annoying habit not to close their precious
 root shells. This scripts puts itself into Cron and detects
 forgotten root shells. Cron then mails the administrator to notify
 him about this security issue.
